@charset "utf-8";
/* CSS variables */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #6ab344;
  --color-green-alt: #60ac5d;
  --text-color-alt1: rgba(0,0,0,0.87);
  --text-color-alt2: rgba(0,0,0,0.54);
  --bg-color-gray: #f5f5f5;
  --bg-color-green: #2e7c31;
  --spacing-unit: 8px;
}
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
  padding: 0;
}
ul, 
li {
	color: var( --text-color-alt1);
}
a,
a:hover,
a:focus {
  color: var(--color-green);
	text-decoration: none;
}
*:focus {
  outline: 2px solid var(--color-green);
}
::selection {
  background-color: var(--color-green);
  color: var(--color-white);
}
img{
	border: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  padding-top: calc(var(--spacing-unit)*8.75);
}
#footer {
  background-color: var(--bg-color-gray);
  color: var(--text-color-alt2);
  font-weight: 300;
  letter-spacing: 1px;
  padding: calc(var(--spacing-unit)*2);
}
/* ====================== Navigation ====================== */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav {
  padding: calc(var(--spacing-unit)*2) 0;
  background-color: var(--bg-color-green);
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  max-height: calc(var(--spacing-unit)*8.75);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
  opacity: 0.9;
}
h1 {
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
  line-height: normal;
  margin: 0 auto;
}
h1 a, 
h1 a:hover,
h1 a:focus {
  color: var(--color-white);
}
#breadcrumb {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: calc(var(--spacing-unit)*2);
  background: linear-gradient(to right,#ecebe9,#f4f4f4,#f6f6f6,#fafafa);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
/* Display list items side by side */
#breadcrumb li {
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0 calc(var(--spacing-unit)*0.5) 0 var(--spacing-unit);
    content: "/\00a0";
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: var(--bg-color-green);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: var(--spacing-unit);
}
.filter-options h2 {
  display: none;
}
select {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 300;
  height: calc(var(--spacing-unit)*6);
  margin: var(--spacing-unit);
  padding: 0 calc(var(--spacing-unit)*1.5);
  width: 200px;
}
/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  position: relative;
  margin: 0 auto;
}
#restaurants-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: calc(var(--spacing-unit)*2);
}
#restaurants-list li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: var(--spacing-unit);
  padding: calc(var(--spacing-unit)*4) calc(var(--spacing-unit)*3) calc(var(--spacing-unit)*3);
  min-height: 380px;
  width: 320px;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: var( --text-color-alt1);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin: calc(var(--spacing-unit)*3) 0 var(--spacing-unit);
}
#restaurants-list p {
  margin: 0;
  color: var( --text-color-alt2);
  font-size: 0.9rem;
  font-style: italic;
}
#restaurants-list li button {
  background-color: var(--color-green-alt);
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-white);
  margin: calc(var(--spacing-unit)*3) 0 0;
  padding: calc(var(--spacing-unit)*2);
  text-transform: uppercase;
  cursor: pointer;
}
/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  padding-top: calc(var(--spacing-unit)*15.75);
}
#restaurant-name {
  font-size: 1.875rem;
  font-weight: 300;
  margin: calc(var(--spacing-unit)*4) 0 calc(var(--spacing-unit)*2);
}
#restaurant-img {
  width: 100%;
  max-width: 800px;
  align-self: center;
}
#restaurant-cuisine {
  margin: calc(var(--spacing-unit)*2) 0 0;
  font-size: 1.2rem;
  font-style: italic;
  color: var(--text-color-alt2);
}
#restaurant-address {
  margin:  0 0 calc(var(--spacing-unit)*2);
  color: var(--text-color-alt1);
}
#restaurant-hours {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--text-color-alt2);
}
.dow {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 var(--spacing-unit);
}
.dow div+div {
  margin-left: calc(var(--spacing-unit)*0.75);
}
#restaurant-container,
#reviews-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#reviews-container {
  margin-bottom: calc(var(--spacing-unit)*3);
}
#reviews-container h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-color-alt1);
  margin: calc(var(--spacing-unit)*4) 0 0;
}
#reviews-list {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 calc(var(--spacing-unit)*2);
  padding: 0;
}
#reviews-list li {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  list-style: none;
  position: relative;
  width: 100%;
  margin: var(--spacing-unit) 0 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
#reviews-list li p {
  text-align: left;
  line-height: 1.2;
  margin: 0;
  padding: 0 calc(var(--spacing-unit)*2) calc(var(--spacing-unit)*2);
}
.rewiew-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-green-alt);
  color: var(--color-white);
  margin: 0 0 calc(var(--spacing-unit)*2);
  padding: calc(var(--spacing-unit)*2);
}
.rewiew-header .name,
.rating {
  font-size: 1.25rem;
  font-style: italic;
}
.rating {
  color: var(--color-green-alt);
}
/* Mobile (screen size 640px and below) */
/* Below is a special case for mobile screen size 460px and above */
@media(min-width: 460px) {
  .filter-options {
    justify-content: center;
  }
}
/* Tablet breakpoint (641px and beyond) */
@media(min-width: 641px) {
  h1 {
    font-size: 3rem;
  }
  nav {
    max-height: calc(var(--spacing-unit)*11);
  }
  #maincontent {
    padding-top: calc(var(--spacing-unit)*11);
  }
  .inside #maincontent {
    padding-top: calc(var(--spacing-unit)*18);
  }
  .filter-options h2 {
    display: flex;
    align-self: center;
    color: var(--color-white);
    font-size: 1.2rem;
    line-height: 1;
    font-weight: normal;
    font-style: italic;
    margin: 0;
  }
  select {
    margin: calc(var(--spacing-unit)*2) 0 calc(var(--spacing-unit)*2) calc(var(--spacing-unit)*2);
  }
  #reviews-list {
    margin: 0 auto;
    width: 80vw;
  }
}
@media(min-width: 1025px) {
  #reviews-list {
    width: 60vw;
  }
]